.List{
    text-align: center;
    
}
.Link{
  text-decoration: none;
}
.list-item{
  padding: 20;
}
.list-item:nth-child(2n+1) {
    background-color: rgb(251, 251, 251);
  }
  
  .list-item:nth-child(2n) {
    background-color: rgb(243, 243, 243);
  }